In [1]:
import pandas as pd
import env
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.cluster import KMeans
from sklearn.preprocessing import MinMaxScaler, RobustScaler
from sklearn.model_selection import train_test_split
import warnings
warnings.filterwarnings('ignore')
import os
import wrangle as w
import explore as e

def get_connection(db, user=env.user, host=env.host, password=env.password):
    return f'mysql+pymysql://{user}:{password}@{host}/{db}'

In [2]:
df = w.acquire_zillow()

In [3]:
df.head()

,parcelid,propertylandusetypeid,typeconstructiontypeid,storytypeid,airconditioningtypeid,architecturalstyletypeid,buildingclasstypeid,heatingorsystemtypeid,id,basementsqft,...,id.1,logerror,transactiondate,heatingorsystemdesc,buildingclassdesc,architecturalstyledesc,airconditioningdesc,storydesc,typeconstructiondesc,propertylandusedesc
0,14297519,261.0,NaN,NaN,NaN,NaN,NaN,NaN,1727539,NaN,...,0,0.025595,2017-01-01,NaN,NaN,NaN,NaN,NaN,NaN,Single Family Residential
1,17052889,261.0,NaN,NaN,NaN,NaN,NaN,NaN,1387261,NaN,...,1,0.055619,2017-01-01,NaN,NaN,NaN,NaN,NaN,NaN,Single Family Residential
2,14186244,261.0,NaN,NaN,NaN,NaN,NaN,NaN,11677,NaN,...,2,0.005383,2017-01-01,NaN,NaN,NaN,NaN,NaN,NaN,Single Family Residential
3,12177905,261.0,NaN,NaN,NaN,NaN,NaN,2.0,2288172,NaN,...,3,-0.103410,2017-01-01,Central,NaN,NaN,NaN,NaN,NaN,Single Family Residential
4,12095076,261.0,NaN,NaN,1.0,NaN,NaN,2.0,781532,NaN,...,6,-0.001011,2017-01-01,Central,NaN,NaN,Central,NaN,NaN,Single Family Residential

In [4]:
df = e.get_counties()

In [5]:
df.head()

,parcelid,propertylandusetypeid,typeconstructiontypeid,storytypeid,airconditioningtypeid,architecturalstyletypeid,buildingclasstypeid,heatingorsystemtypeid,id,basementsqft,...,heatingorsystemdesc,buildingclassdesc,architecturalstyledesc,airconditioningdesc,storydesc,typeconstructiondesc,propertylandusedesc,LA,Orange,Ventura
0,14297519,261.0,NaN,NaN,NaN,NaN,NaN,NaN,1727539,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Single Family Residential,0,1,0
1,17052889,261.0,NaN,NaN,NaN,NaN,NaN,NaN,1387261,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Single Family Residential,0,0,1
2,14186244,261.0,NaN,NaN,NaN,NaN,NaN,NaN,11677,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Single Family Residential,0,1,0
3,12177905,261.0,NaN,NaN,NaN,NaN,NaN,2.0,2288172,NaN,...,Central,NaN,NaN,NaN,NaN,NaN,Single Family Residential,1,0,0
4,12095076,261.0,NaN,NaN,1.0,NaN,NaN,2.0,781532,NaN,...,Central,NaN,NaN,Central,NaN,NaN,Single Family Residential,1,0,0

In [6]:
df = e.create_features(df)
df.head().T

                                   0          1          2         3         4
parcelid                    14297519   17052889   14186244  12177905  12095076
propertylandusetypeid          261.0      261.0      261.0     261.0     261.0
typeconstructiontypeid           NaN        NaN        NaN       NaN       NaN
storytypeid                      NaN        NaN        NaN       NaN       NaN
airconditioningtypeid            NaN        NaN        NaN       NaN       1.0
...                              ...        ...        ...       ...       ...
structure_dollar_sqft_bin        0.5        0.2        0.2       0.1       0.3
land_dollar_per_sqft       119.30071  29.730371  56.865394  2.778417  7.882841
lot_dollar_sqft_bin              0.5        0.3        0.4       0.1       0.2
bath_bed_ratio                 0.875        0.5   0.666667      0.75      0.75
cola                               0          0          0         0         0

[83 rows x 5 columns]