In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.cluster import KMeans
from sklearn.preprocessing import MinMaxScaler, RobustScaler
from sklearn.model_selection import train_test_split
import warnings
warnings.filterwarnings('ignore')

#my imports
import env
import os
import wrangle as w

In [2]:
#Get my data
df = w.acquire_zillow()

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52441 entries, 0 to 52440
Data columns (total 69 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   parcelid                      52441 non-null  int64
 1   propertylandusetypeid         52441 non-null  float64
 2   typeconstructiontypeid        76 non-null     float64
 3   storytypeid                   47 non-null     float64
 4   airconditioningtypeid         13638 non-null  float64
 5   architecturalstyletypeid      70 non-null     float64
 6   buildingclasstypeid           0 non-null      float64
 7   heatingorsystemtypeid         33935 non-null  float64
 8   id                            52441 non-null  int64
 9   basementsqft                  47 non-null     float64
 10  bathroomcnt                   52441 non-null  float64
 11  bedroomcnt                    52441 non-null  float64
 12  buildingqualitytypeid         33740 non-null  float64
 13  calculatedbathnbr             52304 non-null  float64
 14  decktypeid                    389 non-null    float64
 15  finishedfloor1squarefeet      4381 non-null   float64
 16  calculatedfinishedsquarefeet  52359 non-null  float64
 17  finishedsquarefeet12          52194 non-null  float64
 18  finishedsquarefeet13          0 non-null      float64
 19  finishedsquarefeet15          0 non-null      float64
 20  finishedsquarefeet50          4381 non-null   float64
 21  finishedsquarefeet6           165 non-null    float64
 22  fips                          52441 non-null  float64
 23  fireplacecnt                  7243 non-null   float64
 24  fullbathcnt                   52304 non-null  float64
 25  garagecarcnt                  18015 non-null  float64
 26  garagetotalsqft               18015 non-null  float64
 27  hashottuborspa                1515 non-null   float64
 28  latitude                      52441 non-null  float64
 29  longitude                     52441 non-null  float64
 30  lotsizesquarefeet             52072 non-null  float64
 31  poolcnt                       11096 non-null  float64
 32  poolsizesum                   867 non-null    float64
 33  pooltypeid10                  444 non-null    float64
 34  pooltypeid2                   1071 non-null   float64
 35  pooltypeid7                   10009 non-null  float64
 36  propertycountylandusecode     52441 non-null  object
 37  propertyzoningdesc            33848 non-null  object
 38  rawcensustractandblock        52441 non-null  float64
 39  regionidcity                  51404 non-null  float64
 40  regionidcounty                52441 non-null  float64
 41  regionidneighborhood          19033 non-null  float64
 42  regionidzip                   52415 non-null  float64
 43  roomcnt                       52441 non-null  float64
 44  threequarterbathnbr           6724 non-null   float64
 45  unitcnt                       33847 non-null  float64
 46  yardbuildingsqft17            1937 non-null   float64
 47  yardbuildingsqft26            63 non-null     float64
 48  yearbuilt                     52325 non-null  float64
 49  numberofstories               14561 non-null  float64
 50  fireplaceflag                 81 non-null     float64
 51  structuretaxvaluedollarcnt    52357 non-null  float64
 52  taxvaluedollarcnt             52440 non-null  float64
 53  assessmentyear                52441 non-null  float64
 54  landtaxvaluedollarcnt         52440 non-null  float64
 55  taxamount                     52437 non-null  float64
 56  taxdelinquencyflag            2079 non-null   object
 57  taxdelinquencyyear            2079 non-null   float64
 58  censustractandblock           52318 non-null  float64
 59  id.1                          52441 non-null  int64
 60  logerror                      52441 non-null  float64
 61  transactiondate               52441 non-null  object
 62  heatingorsystemdesc           33935 non-null  object
 63  buildingclassdesc             0 non-null      float64
 64  architecturalstyledesc        70 non-null     object
 65  airconditioningdesc           13638 non-null  object
 66  storydesc                     47 non-null     object
 67  typeconstructiondesc          76 non-null     object
 68  propertylandusedesc           52441 non-null  object
dtypes: float64(56), int64(3), object(10)
memory usage: 27.6+ MB

In [4]:
df = w.prepare_zillow(df)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 50709 entries, 0 to 52440
Data columns (total 41 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   parcelid                      50709 non-null  int64
 1   propertylandusetypeid         50709 non-null  float64
 2   basementsqft                  50709 non-null  float64
 3   bathroomcnt                   50709 non-null  float64
 4   bedroomcnt                    50709 non-null  float64
 5   calculatedbathnbr             50709 non-null  float64
 6   decktypeid                    50709 non-null  float64
 7   calculatedfinishedsquarefeet  50709 non-null  float64
 8   finishedsquarefeet12          50709 non-null  float64
 9   fips                          50709 non-null  float64
 10  fireplacecnt                  50709 non-null  float64
 11  fullbathcnt                   50709 non-null  float64
 12  hashottuborspa                50709 non-null  float64
 13  latitude                      50709 non-null  float64
 14  longitude                     50709 non-null  float64
 15  lotsizesquarefeet             50709 non-null  float64
 16  poolcnt                       50709 non-null  float64
 17  pooltypeid10                  50709 non-null  float64
 18  pooltypeid2                   50709 non-null  float64
 19  pooltypeid7                   50709 non-null  float64
 20  propertycountylandusecode     50709 non-null  object
 21  rawcensustractandblock        50709 non-null  float64
 22  regionidcity                  50709 non-null  float64
 23  regionidcounty                50709 non-null  float64
 24  regionidzip                   50709 non-null  float64
 25  roomcnt                       50709 non-null  float64
 26  threequarterbathnbr           50709 non-null  float64
 27  yearbuilt                     50709 non-null  float64
 28  fireplaceflag                 50709 non-null  float64
 29  structuretaxvaluedollarcnt    50709 non-null  float64
 30  taxvaluedollarcnt             50709 non-null  float64
 31  assessmentyear                50709 non-null  float64
 32  landtaxvaluedollarcnt         50709 non-null  float64
 33  taxamount                     50709 non-null  float64
 34  taxdelinquencyflag            50709 non-null  object
 35  taxdelinquencyyear            50709 non-null  float64
 36  censustractandblock           50709 non-null  float64
 37  logerror                      50709 non-null  float64
 38  transactiondate               50709 non-null  object
 39  typeconstructiondesc          50709 non-null  object
 40  propertylandusedesc           50709 non-null  object
dtypes: float64(35), int64(1), object(5)
memory usage: 16.2+ MB

In [6]:
#Ensuring no nulls are present
df.isna().sum().sum()

0