In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.cluster import KMeans
from sklearn.preprocessing import MinMaxScaler, RobustScaler
from sklearn.model_selection import train_test_split
import warnings
warnings.filterwarnings('ignore')

#my imports
import env
import os
import wrangle as w
import explore as e

In [2]:
#Get my data
df = w.acquire_zillow()

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52441 entries, 0 to 52440
Data columns (total 69 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   parcelid                      52441 non-null  int64
 1   propertylandusetypeid         52441 non-null  float64
 2   typeconstructiontypeid        76 non-null     float64
 3   storytypeid                   47 non-null     float64
 4   airconditioningtypeid         13638 non-null  float64
 5   architecturalstyletypeid      70 non-null     float64
 6   buildingclasstypeid           0 non-null      float64
 7   heatingorsystemtypeid         33935 non-null  float64
 8   id                            52441 non-null  int64
 9   basementsqft                  47 non-null     float64
 10  bathroomcnt                   52441 non-null  float64
 11  bedroomcnt                    52441 non-null  float64
 12  buildingqualitytypeid         33740 non-null  float64
 13  calculatedbathnbr             52304 non-null  float64
 14  decktypeid                    389 non-null    float64
 15  finishedfloor1squarefeet      4381 non-null   float64
 16  calculatedfinishedsquarefeet  52359 non-null  float64
 17  finishedsquarefeet12          52194 non-null  float64
 18  finishedsquarefeet13          0 non-null      float64
 19  finishedsquarefeet15          0 non-null      float64
 20  finishedsquarefeet50          4381 non-null   float64
 21  finishedsquarefeet6           165 non-null    float64
 22  fips                          52441 non-null  float64
 23  fireplacecnt                  7243 non-null   float64
 24  fullbathcnt                   52304 non-null  float64
 25  garagecarcnt                  18015 non-null  float64
 26  garagetotalsqft               18015 non-null  float64
 27  hashottuborspa                1515 non-null   float64
 28  latitude                      52441 non-null  float64
 29  longitude                     52441 non-null  float64
 30  lotsizesquarefeet             52072 non-null  float64
 31  poolcnt                       11096 non-null  float64
 32  poolsizesum                   867 non-null    float64
 33  pooltypeid10                  444 non-null    float64
 34  pooltypeid2                   1071 non-null   float64
 35  pooltypeid7                   10009 non-null  float64
 36  propertycountylandusecode     52441 non-null  object
 37  propertyzoningdesc            33848 non-null  object
 38  rawcensustractandblock        52441 non-null  float64
 39  regionidcity                  51404 non-null  float64
 40  regionidcounty                52441 non-null  float64
 41  regionidneighborhood          19033 non-null  float64
 42  regionidzip                   52415 non-null  float64
 43  roomcnt                       52441 non-null  float64
 44  threequarterbathnbr           6724 non-null   float64
 45  unitcnt                       33847 non-null  float64
 46  yardbuildingsqft17            1937 non-null   float64
 47  yardbuildingsqft26            63 non-null     float64
 48  yearbuilt                     52325 non-null  float64
 49  numberofstories               14561 non-null  float64
 50  fireplaceflag                 81 non-null     float64
 51  structuretaxvaluedollarcnt    52357 non-null  float64
 52  taxvaluedollarcnt             52440 non-null  float64
 53  assessmentyear                52441 non-null  float64
 54  landtaxvaluedollarcnt         52440 non-null  float64
 55  taxamount                     52437 non-null  float64
 56  taxdelinquencyflag            2079 non-null   object
 57  taxdelinquencyyear            2079 non-null   float64
 58  censustractandblock           52318 non-null  float64
 59  id.1                          52441 non-null  int64
 60  logerror                      52441 non-null  float64
 61  transactiondate               52441 non-null  object
 62  heatingorsystemdesc           33935 non-null  object
 63  buildingclassdesc             0 non-null      float64
 64  architecturalstyledesc        70 non-null     object
 65  airconditioningdesc           13638 non-null  object
 66  storydesc                     47 non-null     object
 67  typeconstructiondesc          76 non-null     object
 68  propertylandusedesc           52441 non-null  object
dtypes: float64(56), int64(3), object(10)
memory usage: 27.6+ MB

In [4]:
df = w.prepare_zillow(df)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 50709 entries, 0 to 52440
Data columns (total 37 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   parcel_id                 50709 non-null  int64
 1   propertylandusetypeid     50709 non-null  float64
 2   basement_sqft             50709 non-null  float64
 3   bath_count                50709 non-null  float64
 4   bed_count                 50709 non-null  float64
 5   calc_bath_and_bed         50709 non-null  float64
 6   decktypeid                50709 non-null  float64
 7   calc_sqft                 50709 non-null  float64
 8   finished_sqft12           50709 non-null  float64
 9   fips                      50709 non-null  float64
 10  fireplace_cnt             50709 non-null  float64
 11  full_bath_cnt             50709 non-null  float64
 12  has_hot_tub               50709 non-null  float64
 13  latitude                  50709 non-null  float64
 14  longitude                 50709 non-null  float64
 15  lot_sqft                  50709 non-null  float64
 16  pool_count                50709 non-null  float64
 17  pooltypeid10              50709 non-null  float64
 18  pooltypeid2               50709 non-null  float64
 19  pooltypeid7               50709 non-null  float64
 20  property_county_use_code  50709 non-null  object
 21  raw_census_tract_block    50709 non-null  float64
 22  region_id_city            50709 non-null  float64
 23  region_id_county          50709 non-null  float64
 24  region_id_zip             50709 non-null  float64
 25  room_count                50709 non-null  float64
 26  three_quarter_bath        50709 non-null  float64
 27  year_built                50709 non-null  float64
 28  fireplace_flag            50709 non-null  float64
 29  structure_tax_value       50709 non-null  float64
 30  tax_value                 50709 non-null  float64
 31  assessment_year           50709 non-null  float64
 32  land_value                50709 non-null  float64
 33  tax_amount                50709 non-null  float64
 34  tax_delinquency_year      50709 non-null  float64
 35  census_tract_and_block    50709 non-null  float64
 36  log_error                 50709 non-null  float64
dtypes: float64(35), int64(1), object(1)
memory usage: 14.7+ MB

In [6]:
#Ensuring no nulls are present
df.isna().sum().sum()

0

In [7]:
df.head().T

,0,1,2,3,4
parcel_id,14297519,17052889,14186244,12177905,12095076
propertylandusetypeid,261.0,261.0,261.0,261.0,261.0
basement_sqft,0.0,0.0,0.0,0.0,0.0
bath_count,3.5,1.0,2.0,3.0,3.0
bed_count,4.0,2.0,3.0,4.0,4.0
calc_bath_and_bed,3.5,1.0,2.0,3.0,3.0
decktypeid,0.0,0.0,0.0,0.0,0.0
calc_sqft,3100.0,1465.0,1243.0,2376.0,2962.0
finished_sqft12,3100.0,1465.0,1243.0,2376.0,2962.0
fips,6059.0,6111.0,6059.0,6037.0,6037.0
fireplace_cnt,0.0,1.0,0.0,0.0,0.0
full_bath_cnt,3.0,1.0,2.0,3.0,3.0
has_hot_tub,0.0,0.0,0.0,0.0,0.0
latitude,33634931.0,34449266.0,33886168.0,34245180.0,34145202.0
longitude,-117869207.0,-119281531.0,-117823170.0,-118240722.0,-118179824.0
lot_sqft,4506.0,12647.0,8432.0,13038.0,63000.0
pool_count,0.0,0.0,1.0,1.0,1.0
pooltypeid10,0.0,0.0,0.0,0.0,0.0
pooltypeid2,0.0,0.0,0.0,0.0,0.0
pooltypeid7,0.0,0.0,1.0,1.0,1.0
property_county_use_code,122,1110,122,0101,0101
raw_census_tract_block,60590630.072012,61110010.023006,60590218.022012,60373001.001006,60374608.001014
region_id_city,53571.0,13091.0,21412.0,396551.0,47019.0
region_id_county,1286.0,2061.0,1286.0,3101.0,3101.0
region_id_zip,96978.0,97099.0,97078.0,96330.0,96293.0
room_count,0.0,5.0,6.0,0.0,0.0
three_quarter_bath,1.0,0.0,0.0,0.0,0.0
year_built,1998.0,1967.0,1962.0,1970.0,1950.0
fireplace_flag,0.0,0.0,0.0,0.0,0.0
structure_tax_value,485713.0,88000.0,85289.0,108918.0,276684.0
tax_value,1023282.0,464000.0,564778.0,145143.0,773303.0
assessment_year,2016.0,2016.0,2016.0,2016.0,2016.0
land_value,537569.0,376000.0,479489.0,36225.0,496619.0
tax_amount,11013.72,5672.48,6488.3,1777.51,9516.26
tax_delinquency_year,99999.0,99999.0,99999.0,99999.0,99999.0
census_tract_and_block,60590630072012.0,61110010023006.0,60590218022012.0,60373001001006.0,60374608001014.0
log_error,0.025595,0.055619,0.005383,-0.10341,-0.001011

In [ ]:
def get_upper_outliers(s, k):
    '''
    Given a series and a cutoff value, k, returns the upper outliers for the
    series.

    The values returned will be either 0 (if the point is not an outlier), or a
    number that indicates how far away from the upper bound the observation is.
    '''
    q1, q3 = s.quantile([.25, .75])
    iqr = q3 - q1
    upper_bound = q3 + k * iqr
    return s.apply(lambda x: max([x - upper_bound, 0]))

def add_upper_outlier_columns(df, k):
    '''
    Add a column with the suffix _outliers for all the numeric columns
    in the given dataframe.
    '''
    # outlier_cols = {col + '_outliers': get_upper_outliers(df[col], k)
    #                 for col in df.select_dtypes('number')}
    # return df.assign(**outlier_cols)

    for col in df.select_dtypes('number'):
        df[col + '_outliers'] = get_upper_outliers(df[col], k)

    return df

add_upper_outlier_columns(df, k=1.5)

df.head()

In [ ]:
outlier_cols = [col for col in df if col.endswith('_outliers')]
for col in outlier_cols:
    print('~~~\n' + col)
    data = df[col][df[col] > 0]
    print(data.describe())

In [ ]:
def create_features(df):
    df['age'] = 2017 - df.year_built
    df['age_bin'] = pd.cut(df.age, 
                           bins = [0, 5, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100, 110, 120, 130, 140],
                           labels = [0, .066, .133, .20, .266, .333, .40, .466, .533, 
                                     .60, .666, .733, .8, .866, .933])

    # create taxrate variable
    df['taxrate'] = df.tax_amount/df.tax_value*100

    # create acres variable
    df['acres'] = df.lot_sqft/43560

    # bin acres
    df['acres_bin'] = pd.cut(df.acres, bins = [0, .10, .15, .25, .5, 1, 5, 10, 20, 50, 200], 
                       labels = [0, .1, .2, .3, .4, .5, .6, .7, .8, .9])

    # square feet bin
    df['sqft_bin'] = pd.cut(df.calc_sqft, 
                            bins = [0, 800, 1000, 1250, 1500, 2000, 2500, 3000, 4000, 7000, 12000],
                            labels = [0, .1, .2, .3, .4, .5, .6, .7, .8, .9]
                       )

    # dollar per square foot-structure
    df['structure_dollar_per_sqft'] = df.structure_tax_value/df.calc_sqft


    df['structure_dollar_sqft_bin'] = pd.cut(df.structure_dollar_per_sqft, 
                                             bins = [0, 25, 50, 75, 100, 150, 200, 300, 500, 1000, 1500],
                                             labels = [0, .1, .2, .3, .4, .5, .6, .7, .8, .9]
                                            )


    # dollar per square foot-land
    df['land_dollar_per_sqft'] = df.land_value/df.lot_sqft

    df['lot_dollar_sqft_bin'] = pd.cut(df.land_dollar_per_sqft, bins = [0, 1, 5, 20, 50, 100, 250, 500, 1000, 1500, 2000],
                                       labels = [0, .1, .2, .3, .4, .5, .6, .7, .8, .9]
                                      )


    # update datatypes of binned values to be float
    df = df.astype({'sqft_bin': 'float64', 'acres_bin': 'float64', 'age_bin': 'float64',
                    'structure_dollar_sqft_bin': 'float64', 'lot_dollar_sqft_bin': 'float64'})


    # ratio of bathrooms to bedrooms
    df['bath_bed_ratio'] = df.bath_count/df.bed_count

    # 12447 is the ID for city of LA. 
    # I confirmed through sampling and plotting, as well as looking up a few addresses.
    df['cola'] = df['region_id_city'].apply(lambda x: 1 if x == 12447.0 else 0)

    return df

In [8]:
df = e.create_features(df)

In [ ]:
df.head().T

In [ ]:
def get_counties(df):
    '''
    This function will create dummy variables out of the original fips column. 
    And return a dataframe with all of the original columns except regionidcounty.
    We will keep fips column for data validation after making changes. 
    New columns added will be 'LA', 'Orange', and 'Ventura' which are boolean 
    The fips ids are renamed to be the name of the county each represents. 
    '''
    # create dummy vars of fips id
    county_df = pd.get_dummies(df.fips)
    # rename columns by actual county name
    county_df.columns = ['LA', 'Orange', 'Ventura']
    # concatenate the dataframe with the 3 county columns to the original dataframe
    df_dummies = pd.concat([df, county_df], axis = 1)
    # drop regionidcounty and fips columns
    df_dummies = df_dummies.drop(columns = ['region_id_county'])
    return df_dummies

In [ ]:
df = get_counties(df)

In [ ]:
df.head().T