In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.cluster import KMeans
from sklearn.preprocessing import MinMaxScaler, RobustScaler
from sklearn.model_selection import train_test_split
import warnings
warnings.filterwarnings('ignore')

#my imports
import env
import os
import wrangle as w
import explore as e

In [2]:
#Get my data
df = w.acquire_zillow()

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52441 entries, 0 to 52440
Data columns (total 69 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   parcelid                      52441 non-null  int64
 1   propertylandusetypeid         52441 non-null  float64
 2   typeconstructiontypeid        76 non-null     float64
 3   storytypeid                   47 non-null     float64
 4   airconditioningtypeid         13638 non-null  float64
 5   architecturalstyletypeid      70 non-null     float64
 6   buildingclasstypeid           0 non-null      float64
 7   heatingorsystemtypeid         33935 non-null  float64
 8   id                            52441 non-null  int64
 9   basementsqft                  47 non-null     float64
 10  bathroomcnt                   52441 non-null  float64
 11  bedroomcnt                    52441 non-null  float64
 12  buildingqualitytypeid         33740 non-null  float64
 13  calculatedbathnbr             52304 non-null  float64
 14  decktypeid                    389 non-null    float64
 15  finishedfloor1squarefeet      4381 non-null   float64
 16  calculatedfinishedsquarefeet  52359 non-null  float64
 17  finishedsquarefeet12          52194 non-null  float64
 18  finishedsquarefeet13          0 non-null      float64
 19  finishedsquarefeet15          0 non-null      float64
 20  finishedsquarefeet50          4381 non-null   float64
 21  finishedsquarefeet6           165 non-null    float64
 22  fips                          52441 non-null  float64
 23  fireplacecnt                  7243 non-null   float64
 24  fullbathcnt                   52304 non-null  float64
 25  garagecarcnt                  18015 non-null  float64
 26  garagetotalsqft               18015 non-null  float64
 27  hashottuborspa                1515 non-null   float64
 28  latitude                      52441 non-null  float64
 29  longitude                     52441 non-null  float64
 30  lotsizesquarefeet             52072 non-null  float64
 31  poolcnt                       11096 non-null  float64
 32  poolsizesum                   867 non-null    float64
 33  pooltypeid10                  444 non-null    float64
 34  pooltypeid2                   1071 non-null   float64
 35  pooltypeid7                   10009 non-null  float64
 36  propertycountylandusecode     52441 non-null  object
 37  propertyzoningdesc            33848 non-null  object
 38  rawcensustractandblock        52441 non-null  float64
 39  regionidcity                  51404 non-null  float64
 40  regionidcounty                52441 non-null  float64
 41  regionidneighborhood          19033 non-null  float64
 42  regionidzip                   52415 non-null  float64
 43  roomcnt                       52441 non-null  float64
 44  threequarterbathnbr           6724 non-null   float64
 45  unitcnt                       33847 non-null  float64
 46  yardbuildingsqft17            1937 non-null   float64
 47  yardbuildingsqft26            63 non-null     float64
 48  yearbuilt                     52325 non-null  float64
 49  numberofstories               14561 non-null  float64
 50  fireplaceflag                 81 non-null     float64
 51  structuretaxvaluedollarcnt    52357 non-null  float64
 52  taxvaluedollarcnt             52440 non-null  float64
 53  assessmentyear                52441 non-null  float64
 54  landtaxvaluedollarcnt         52440 non-null  float64
 55  taxamount                     52437 non-null  float64
 56  taxdelinquencyflag            2079 non-null   object
 57  taxdelinquencyyear            2079 non-null   float64
 58  censustractandblock           52318 non-null  float64
 59  id.1                          52441 non-null  int64
 60  logerror                      52441 non-null  float64
 61  transactiondate               52441 non-null  object
 62  heatingorsystemdesc           33935 non-null  object
 63  buildingclassdesc             0 non-null      float64
 64  architecturalstyledesc        70 non-null     object
 65  airconditioningdesc           13638 non-null  object
 66  storydesc                     47 non-null     object
 67  typeconstructiondesc          76 non-null     object
 68  propertylandusedesc           52441 non-null  object
dtypes: float64(56), int64(3), object(10)
memory usage: 27.6+ MB

In [4]:
df = w.prepare_zillow(df)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 50709 entries, 0 to 52440
Data columns (total 41 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   parcel_id                 50709 non-null  int64
 1   propertylandusetypeid     50709 non-null  float64
 2   basement_sqft             50709 non-null  float64
 3   bath_count                50709 non-null  float64
 4   bed_count                 50709 non-null  float64
 5   calc_bath_and_bed         50709 non-null  float64
 6   decktypeid                50709 non-null  float64
 7   calc_sqft                 50709 non-null  float64
 8   finished_sqft12           50709 non-null  float64
 9   fips                      50709 non-null  float64
 10  fireplace_cnt             50709 non-null  float64
 11  full_bath_cnt             50709 non-null  float64
 12  has_hot_tub               50709 non-null  float64
 13  latitude                  50709 non-null  float64
 14  longitude                 50709 non-null  float64
 15  lot_sqft                  50709 non-null  float64
 16  pool_count                50709 non-null  float64
 17  pooltypeid10              50709 non-null  float64
 18  pooltypeid2               50709 non-null  float64
 19  pooltypeid7               50709 non-null  float64
 20  property_county_use_code  50709 non-null  object
 21  raw_census_tract_block    50709 non-null  float64
 22  region_id_city            50709 non-null  float64
 23  region_id_county          50709 non-null  float64
 24  region_id_zip             50709 non-null  float64
 25  room_count                50709 non-null  float64
 26  three_quarter_bath        50709 non-null  float64
 27  year_built                50709 non-null  float64
 28  fireplace_flag            50709 non-null  float64
 29  structure_tax_value       50709 non-null  float64
 30  tax_value                 50709 non-null  float64
 31  assessment_year           50709 non-null  float64
 32  land_value                50709 non-null  float64
 33  tax_amount                50709 non-null  float64
 34  tax_delinquency_flag      50709 non-null  object
 35  tax_delinquency_year      50709 non-null  float64
 36  census_tract_and_block    50709 non-null  float64
 37  log_error                 50709 non-null  float64
 38  transaction_date          50709 non-null  object
 39  type_construction_desc    50709 non-null  object
 40  property_land_use_desc    50709 non-null  object
dtypes: float64(35), int64(1), object(5)
memory usage: 16.2+ MB

In [6]:
#Ensuring no nulls are present
df.isna().sum().sum()

0

In [7]:
df.head().T

,0,1,2,3,4
parcel_id,14297519,17052889,14186244,12177905,12095076
propertylandusetypeid,261.0,261.0,261.0,261.0,261.0
basement_sqft,0.0,0.0,0.0,0.0,0.0
bath_count,3.5,1.0,2.0,3.0,3.0
bed_count,4.0,2.0,3.0,4.0,4.0
calc_bath_and_bed,3.5,1.0,2.0,3.0,3.0
decktypeid,0.0,0.0,0.0,0.0,0.0
calc_sqft,3100.0,1465.0,1243.0,2376.0,2962.0
finished_sqft12,3100.0,1465.0,1243.0,2376.0,2962.0
fips,6059.0,6111.0,6059.0,6037.0,6037.0
fireplace_cnt,0.0,1.0,0.0,0.0,0.0
full_bath_cnt,3.0,1.0,2.0,3.0,3.0
has_hot_tub,0.0,0.0,0.0,0.0,0.0
latitude,33634931.0,34449266.0,33886168.0,34245180.0,34145202.0
longitude,-117869207.0,-119281531.0,-117823170.0,-118240722.0,-118179824.0
lot_sqft,4506.0,12647.0,8432.0,13038.0,63000.0
pool_count,0.0,0.0,1.0,1.0,1.0
pooltypeid10,0.0,0.0,0.0,0.0,0.0
pooltypeid2,0.0,0.0,0.0,0.0,0.0
pooltypeid7,0.0,0.0,1.0,1.0,1.0
property_county_use_code,122,1110,122,0101,0101
raw_census_tract_block,60590630.072012,61110010.023006,60590218.022012,60373001.001006,60374608.001014
region_id_city,53571.0,13091.0,21412.0,396551.0,47019.0
region_id_county,1286.0,2061.0,1286.0,3101.0,3101.0
region_id_zip,96978.0,97099.0,97078.0,96330.0,96293.0
room_count,0.0,5.0,6.0,0.0,0.0
three_quarter_bath,1.0,0.0,0.0,0.0,0.0
year_built,1998.0,1967.0,1962.0,1970.0,1950.0
fireplace_flag,0.0,0.0,0.0,0.0,0.0
structure_tax_value,485713.0,88000.0,85289.0,108918.0,276684.0
tax_value,1023282.0,464000.0,564778.0,145143.0,773303.0
assessment_year,2016.0,2016.0,2016.0,2016.0,2016.0
land_value,537569.0,376000.0,479489.0,36225.0,496619.0
tax_amount,11013.72,5672.48,6488.3,1777.51,9516.26
tax_delinquency_flag,N,N,N,N,N
tax_delinquency_year,99999.0,99999.0,99999.0,99999.0,99999.0
census_tract_and_block,60590630072012.0,61110010023006.0,60590218022012.0,60373001001006.0,60374608001014.0
log_error,0.025595,0.055619,0.005383,-0.10341,-0.001011
transaction_date,2017-01-01,2017-01-01,2017-01-01,2017-01-01,2017-01-01
type_construction_desc,None,None,None,None,None
property_land_use_desc,Single Family Residential,Single Family Residential,Single Family Residential,Single Family Residential,Single Family Residential

In [8]:
#Drop non-numeric columns not needed for exploration:
df.drop(['taxdelinquencyflag', 'transactiondate', 'typeconstructiondesc', 'propertylandusedesc'], axis=1, inplace=True)

In [9]:
df.head().T

,0,1,2,3,4
parcelid,14297519,17052889,14186244,12177905,12095076
propertylandusetypeid,261.0,261.0,261.0,261.0,261.0
basementsqft,0.0,0.0,0.0,0.0,0.0
bathroomcnt,3.5,1.0,2.0,3.0,3.0
bedroomcnt,4.0,2.0,3.0,4.0,4.0
calculatedbathnbr,3.5,1.0,2.0,3.0,3.0
decktypeid,0.0,0.0,0.0,0.0,0.0
calculatedfinishedsquarefeet,3100.0,1465.0,1243.0,2376.0,2962.0
finishedsquarefeet12,3100.0,1465.0,1243.0,2376.0,2962.0
fips,6059.0,6111.0,6059.0,6037.0,6037.0
fireplacecnt,0.0,1.0,0.0,0.0,0.0
fullbathcnt,3.0,1.0,2.0,3.0,3.0
hashottuborspa,0.0,0.0,0.0,0.0,0.0
latitude,33634931.0,34449266.0,33886168.0,34245180.0,34145202.0
longitude,-117869207.0,-119281531.0,-117823170.0,-118240722.0,-118179824.0
lotsizesquarefeet,4506.0,12647.0,8432.0,13038.0,63000.0
poolcnt,0.0,0.0,1.0,1.0,1.0
pooltypeid10,0.0,0.0,0.0,0.0,0.0
pooltypeid2,0.0,0.0,0.0,0.0,0.0
pooltypeid7,0.0,0.0,1.0,1.0,1.0
propertycountylandusecode,122,1110,122,0101,0101
rawcensustractandblock,60590630.072012,61110010.023006,60590218.022012,60373001.001006,60374608.001014
regionidcity,53571.0,13091.0,21412.0,396551.0,47019.0
regionidcounty,1286.0,2061.0,1286.0,3101.0,3101.0
regionidzip,96978.0,97099.0,97078.0,96330.0,96293.0
roomcnt,0.0,5.0,6.0,0.0,0.0
threequarterbathnbr,1.0,0.0,0.0,0.0,0.0
yearbuilt,1998.0,1967.0,1962.0,1970.0,1950.0
fireplaceflag,0.0,0.0,0.0,0.0,0.0
structuretaxvaluedollarcnt,485713.0,88000.0,85289.0,108918.0,276684.0
taxvaluedollarcnt,1023282.0,464000.0,564778.0,145143.0,773303.0
assessmentyear,2016.0,2016.0,2016.0,2016.0,2016.0
landtaxvaluedollarcnt,537569.0,376000.0,479489.0,36225.0,496619.0
taxamount,11013.72,5672.48,6488.3,1777.51,9516.26
taxdelinquencyyear,99999.0,99999.0,99999.0,99999.0,99999.0
censustractandblock,60590630072012.0,61110010023006.0,60590218022012.0,60373001001006.0,60374608001014.0
logerror,0.025595,0.055619,0.005383,-0.10341,-0.001011

In [10]:
#Renaming columns to something readable: shoutout to Woody
rename_dict = {
    'parcelid':'parcel_id', 'basementsqft':'basement_sqft',
    'bathroomcnt':'bath_count', 'bedroomcnt':'bed_count',
       'calculatedbathnbr':'calc_bath_and_bed','finishedfloor1squarefeet':'finished_floor1_sqft',
       'calculatedfinishedsquarefeet':'calc_sqft', 'finishedsquarefeet12':'finished_sqft12',
       'finishedsquarefeet13':'finished_sqft13', 'finishedsquarefeet15':'finished_sqft15',
        'finishedsquarefeet50':'finished_sqft50',
       'finishedsquarefeet6':'finished_sqft6', 'fireplacecnt':'fireplace_cnt',
        'fullbathcnt':'full_bath_cnt',
       'garagecarcnt':'garage_car_count', 'garagetotalsqft':'garage_sqft',
       'hashottuborspa':'has_hot_tub',
        'lotsizesquarefeet':'lot_sqft', 'poolcnt':'pool_count', 'poolsizesum':'sum_pool_size',
        'propertycountylandusecode':'property_county_use_code',
        'propertyzoningdesc':'property_zoning_desc',
       'rawcensustractandblock':'raw_census_tract_block', 'regionidcity':'region_id_city',
        'regionidcounty':'region_id_county',
       'regionidneighborhood':'region_id_neighbor', 'regionidzip':'region_id_zip',
        'roomcnt':'room_count', 'threequarterbathnbr':'three_quarter_bath',
       'unitcnt':'unit_count', 'yardbuildingsqft17':'yard_building_sqft17',
        'yardbuildingsqft26':'yard_building_sqft26', 'yearbuilt':'year_built',
       'numberofstories':'no_stories', 'fireplaceflag':'fireplace_flag',
        'structuretaxvaluedollarcnt':'structure_tax_value',
       'taxvaluedollarcnt':'tax_value', 'assessmentyear':'assessment_year',
        'landtaxvaluedollarcnt':'land_value',
       'taxamount':'tax_amount', 'taxdelinquencyflag':'tax_delinquency_flag',
       'taxdelinquencyyear':'tax_delinquency_year',
       'censustractandblock':'census_tract_and_block', 'logerror':'log_error',
       'transactiondate':'transaction_date',
       'airconditioningdesc':'air_conditioning_desc',
       'architecturalstyledesc':'architectural_style_desc',
       'buildingclassdesc':'building_class_desc',
       'heatingorsystemdesc':'heating_system_desc', 'propertylandusedesc':'property_land_use_desc',
        'storydesc':'story_desc',
       'typeconstructiondesc':'type_construction_desc'
}

In [11]:
df.rename(columns=rename_dict, inplace=True)

In [12]:
df.head().T

,0,1,2,3,4
parcel_id,14297519,17052889,14186244,12177905,12095076
propertylandusetypeid,261.0,261.0,261.0,261.0,261.0
basement_sqft,0.0,0.0,0.0,0.0,0.0
bath_count,3.5,1.0,2.0,3.0,3.0
bed_count,4.0,2.0,3.0,4.0,4.0
calc_bath_and_bed,3.5,1.0,2.0,3.0,3.0
decktypeid,0.0,0.0,0.0,0.0,0.0
calc_sqft,3100.0,1465.0,1243.0,2376.0,2962.0
finished_sqft12,3100.0,1465.0,1243.0,2376.0,2962.0
fips,6059.0,6111.0,6059.0,6037.0,6037.0
fireplace_cnt,0.0,1.0,0.0,0.0,0.0
full_bath_cnt,3.0,1.0,2.0,3.0,3.0
has_hot_tub,0.0,0.0,0.0,0.0,0.0
latitude,33634931.0,34449266.0,33886168.0,34245180.0,34145202.0
longitude,-117869207.0,-119281531.0,-117823170.0,-118240722.0,-118179824.0
lot_sqft,4506.0,12647.0,8432.0,13038.0,63000.0
pool_count,0.0,0.0,1.0,1.0,1.0
pooltypeid10,0.0,0.0,0.0,0.0,0.0
pooltypeid2,0.0,0.0,0.0,0.0,0.0
pooltypeid7,0.0,0.0,1.0,1.0,1.0
property_county_use_code,122,1110,122,0101,0101
raw_census_tract_block,60590630.072012,61110010.023006,60590218.022012,60373001.001006,60374608.001014
region_id_city,53571.0,13091.0,21412.0,396551.0,47019.0
region_id_county,1286.0,2061.0,1286.0,3101.0,3101.0
region_id_zip,96978.0,97099.0,97078.0,96330.0,96293.0
room_count,0.0,5.0,6.0,0.0,0.0
three_quarter_bath,1.0,0.0,0.0,0.0,0.0
year_built,1998.0,1967.0,1962.0,1970.0,1950.0
fireplace_flag,0.0,0.0,0.0,0.0,0.0
structure_tax_value,485713.0,88000.0,85289.0,108918.0,276684.0
tax_value,1023282.0,464000.0,564778.0,145143.0,773303.0
assessment_year,2016.0,2016.0,2016.0,2016.0,2016.0
land_value,537569.0,376000.0,479489.0,36225.0,496619.0
tax_amount,11013.72,5672.48,6488.3,1777.51,9516.26
tax_delinquency_year,99999.0,99999.0,99999.0,99999.0,99999.0
census_tract_and_block,60590630072012.0,61110010023006.0,60590218022012.0,60373001001006.0,60374608001014.0
log_error,0.025595,0.055619,0.005383,-0.10341,-0.001011

In [10]:
def get_upper_outliers(s, k):
    '''
    Given a series and a cutoff value, k, returns the upper outliers for the
    series.

    The values returned will be either 0 (if the point is not an outlier), or a
    number that indicates how far away from the upper bound the observation is.
    '''
    q1, q3 = s.quantile([.25, .75])
    iqr = q3 - q1
    upper_bound = q3 + k * iqr
    return s.apply(lambda x: max([x - upper_bound, 0]))

def add_upper_outlier_columns(df, k):
    '''
    Add a column with the suffix _outliers for all the numeric columns
    in the given dataframe.
    '''
    # outlier_cols = {col + '_outliers': get_upper_outliers(df[col], k)
    #                 for col in df.select_dtypes('number')}
    # return df.assign(**outlier_cols)

    for col in df.select_dtypes('number'):
        df[col + '_outliers'] = get_upper_outliers(df[col], k)

    return df

add_upper_outlier_columns(df, k=1.5)

df.head()

,parcelid,propertylandusetypeid,basementsqft,bathroomcnt,bedroomcnt,calculatedbathnbr,decktypeid,calculatedfinishedsquarefeet,finishedsquarefeet12,fips,...,yearbuilt_outliers,fireplaceflag_outliers,structuretaxvaluedollarcnt_outliers,taxvaluedollarcnt_outliers,assessmentyear_outliers,landtaxvaluedollarcnt_outliers,taxamount_outliers,taxdelinquencyyear_outliers,censustractandblock_outliers,logerror_outliers
0,14297519,261.0,0.0,3.5,4.0,3.5,0.0,3100.0,3100.0,6059.0,...,0,0.0,47647.5,0.0,0.0,0.0,0.0,0.0,0.000000e+00,0.0
1,17052889,261.0,0.0,1.0,2.0,1.0,0.0,1465.0,1465.0,6111.0,...,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.949593e+11,0.0
2,14186244,261.0,0.0,2.0,3.0,2.0,0.0,1243.0,1243.0,6059.0,...,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000e+00,0.0
3,12177905,261.0,0.0,3.0,4.0,3.0,0.0,2376.0,2376.0,6037.0,...,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000e+00,0.0
4,12095076,261.0,0.0,3.0,4.0,3.0,0.0,2962.0,2962.0,6037.0,...,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000e+00,0.0

In [11]:
outlier_cols = [col for col in df if col.endswith('_outliers')]
for col in outlier_cols:
    print('~~~\n' + col)
    data = df[col][df[col] > 0]
    print(data.describe())

~~~
parcelid_outliers
count    5.000000e+00
mean     1.449322e+08
std      1.253982e+02
min      1.449321e+08
25%      1.449321e+08
50%      1.449321e+08
75%      1.449322e+08
max      1.449324e+08
Name: parcelid_outliers, dtype: float64
~~~
propertylandusetypeid_outliers
count    0.0
mean     NaN
std      NaN
min      NaN
25%      NaN
50%      NaN
75%      NaN
max      NaN
Name: propertylandusetypeid_outliers, dtype: float64
~~~
basementsqft_outliers
count      47.000000
mean      678.978723
std       711.825226
min        38.000000
25%       263.500000
50%       512.000000
75%       809.500000
max      3560.000000
Name: basementsqft_outliers, dtype: float64
~~~
bathroomcnt_outliers
count    1456.000000
mean        1.132212
std         0.926249
min         0.500000
25%         0.500000
50%         0.500000
75%         1.500000
max         8.500000
Name: bathroomcnt_outliers, dtype: float64
~~~
bedroomcnt_outliers
count    737.000000
mean       0.748304
std        0.611885
min        0.500000
25%        0.500000
50%        0.500000
75%        0.500000
max        5.500000
Name: bedroomcnt_outliers, dtype: float64
~~~
calculatedbathnbr_outliers
count    1456.000000
mean        1.132212
std         0.926249
min         0.500000
25%         0.500000
50%         0.500000
75%         1.500000
max         8.500000
Name: calculatedbathnbr_outliers, dtype: float64
~~~
decktypeid_outliers
count    380.0
mean      66.0
std        0.0
min       66.0
25%       66.0
50%       66.0
75%       66.0
max       66.0
Name: decktypeid_outliers, dtype: float64
~~~
calculatedfinishedsquarefeet_outliers
count     2238.000000
mean      1172.290438
std       1446.385876
min          1.000000
25%        266.250000
50%        699.500000
75%       1546.750000
max      18116.000000
Name: calculatedfinishedsquarefeet_outliers, dtype: float64
~~~
finishedsquarefeet12_outliers
count     2238.000000
mean      1172.290438
std       1446.385876
min          1.000000
25%        266.250000
50%        699.500000
75%       1546.750000
max      18116.000000
Name: finishedsquarefeet12_outliers, dtype: float64
~~~
fips_outliers
count    4342.0
mean       19.0
std         0.0
min        19.0
25%        19.0
50%        19.0
75%        19.0
max        19.0
Name: fips_outliers, dtype: float64
~~~
fireplacecnt_outliers
count    7142.000000
mean        1.208905
std         0.511500
min         1.000000
25%         1.000000
50%         1.000000
75%         1.000000
max         5.000000
Name: fireplacecnt_outliers, dtype: float64
~~~
fullbathcnt_outliers
count    1434.000000
mean        1.026499
std         0.930784
min         0.500000
25%         0.500000
50%         0.500000
75%         1.500000
max         8.500000
Name: fullbathcnt_outliers, dtype: float64
~~~
hashottuborspa_outliers
count    1445.0
mean        1.0
std         0.0
min         1.0
25%         1.0
50%         1.0
75%         1.0
max         1.0
Name: hashottuborspa_outliers, dtype: float64
~~~
latitude_outliers
count       35.000000
mean     41445.000000
std      25496.807812
min        253.000000
25%      24921.500000
50%      35508.000000
75%      57316.000000
max      97960.000000
Name: latitude_outliers, dtype: float64
~~~
longitude_outliers
count    0.0
mean     NaN
std      NaN
min      NaN
25%      NaN
50%      NaN
75%      NaN
max      NaN
Name: longitude_outliers, dtype: float64
~~~
lotsizesquarefeet_outliers
count    5.367000e+03
mean     3.468003e+04
std      2.658304e+05
min      2.000000e+00
25%      3.148500e+03
50%      7.302000e+03
75%      2.108950e+04
max      6.957499e+06
Name: lotsizesquarefeet_outliers, dtype: float64
~~~
poolcnt_outliers
count    10722.0
mean         1.0
std          0.0
min          1.0
25%          1.0
50%          1.0
75%          1.0
max          1.0
Name: poolcnt_outliers, dtype: float64
~~~
pooltypeid10_outliers
count    432.0
mean       1.0
std        0.0
min        1.0
25%        1.0
50%        1.0
75%        1.0
max        1.0
Name: pooltypeid10_outliers, dtype: float64
~~~
pooltypeid2_outliers
count    1013.0
mean        1.0
std         0.0
min         1.0
25%         1.0
50%         1.0
75%         1.0
max         1.0
Name: pooltypeid2_outliers, dtype: float64
~~~
pooltypeid7_outliers
count    9693.0
mean        1.0
std         0.0
min         1.0
25%         1.0
50%         1.0
75%         1.0
max         1.0
Name: pooltypeid7_outliers, dtype: float64
~~~
rawcensustractandblock_outliers
count      4342.000000
mean     195000.629001
std          25.167345
min      194949.861549
25%      194978.862533
50%      195005.882526
75%      195022.961538
max      195038.861521
Name: rawcensustractandblock_outliers, dtype: float64
~~~
regionidcity_outliers
count      1618.000000
mean     171311.071693
std      138585.473131
min       31515.000000
25%       36328.000000
50%       37097.000000
75%      314157.000000
max      314659.000000
Name: regionidcity_outliers, dtype: float64
~~~
regionidcounty_outliers
count    0.0
mean     NaN
std      NaN
min      NaN
25%      NaN
50%      NaN
75%      NaN
max      NaN
Name: regionidcounty_outliers, dtype: float64
~~~
regionidzip_outliers
count        11.0
mean     301489.5
std           0.0
min      301489.5
25%      301489.5
50%      301489.5
75%      301489.5
max      301489.5
Name: regionidzip_outliers, dtype: float64
~~~
roomcnt_outliers
count    15.000000
mean      0.966667
std       0.639940
min       0.500000
25%       0.500000
50%       0.500000
75%       1.500000
max       2.500000
Name: roomcnt_outliers, dtype: float64
~~~
threequarterbathnbr_outliers
count    6568.000000
mean        1.013703
std         0.143254
min         1.000000
25%         1.000000
50%         1.000000
75%         1.000000
max         7.000000
Name: threequarterbathnbr_outliers, dtype: float64
~~~
yearbuilt_outliers
count    0.0
mean     NaN
std      NaN
min      NaN
25%      NaN
50%      NaN
75%      NaN
max      NaN
Name: yearbuilt_outliers, dtype: float64
~~~
fireplaceflag_outliers
count    74.0
mean      1.0
std       0.0
min       1.0
25%       1.0
50%       1.0
75%       1.0
max       1.0
Name: fireplaceflag_outliers, dtype: float64
~~~
structuretaxvaluedollarcnt_outliers
count    3.816000e+03
mean     3.606840e+05
std      5.741691e+05
min      1.175000e+02
25%      7.163325e+04
50%      1.817385e+05
75%      4.263168e+05
max      8.726836e+06
Name: structuretaxvaluedollarcnt_outliers, dtype: float64
~~~
taxvaluedollarcnt_outliers
count    3.439000e+03
mean     1.064035e+06
std      1.759624e+06
min      3.295000e+02
25%      2.045740e+05
50%      5.209435e+05
75%      1.223310e+06
max      2.414258e+07
Name: taxvaluedollarcnt_outliers, dtype: float64
~~~
assessmentyear_outliers
count    0.0
mean     NaN
std      NaN
min      NaN
25%      NaN
50%      NaN
75%      NaN
max      NaN
Name: assessmentyear_outliers, dtype: float64
~~~
landtaxvaluedollarcnt_outliers
count    2.866000e+03
mean     8.290155e+05
std      1.415315e+06
min      2.590000e+02
25%      1.514780e+05
50%      4.114600e+05
75%      9.230330e+05
max      2.143108e+07
Name: landtaxvaluedollarcnt_outliers, dtype: float64
~~~
taxamount_outliers
count      3700.000000
mean      11906.940057
std       20013.574527
min           0.260000
25%        2228.055000
50%        5865.850000
75%       13508.990000
max      276823.350000
Name: taxamount_outliers, dtype: float64
~~~
taxdelinquencyyear_outliers
count    0.0
mean     NaN
std      NaN
min      NaN
25%      NaN
50%      NaN
75%      NaN
max      NaN
Name: taxdelinquencyyear_outliers, dtype: float64
~~~
censustractandblock_outliers
count    4.343000e+03
mean     2.921515e+11
std      6.402289e+12
min      1.949513e+11
25%      1.949803e+11
50%      1.950073e+11
75%      1.950244e+11
max      4.221151e+14
Name: censustractandblock_outliers, dtype: float64
~~~
logerror_outliers
count    3672.000000
mean        0.228218
std         0.395556
min         0.000018
25%         0.038142
50%         0.097637
75%         0.236432
max         5.124692
Name: logerror_outliers, dtype: float64

In [12]:
def create_features(df):
    df['age'] = 2017 - df.year_built
    df['age_bin'] = pd.cut(df.age, 
                           bins = [0, 5, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100, 110, 120, 130, 140],
                           labels = [0, .066, .133, .20, .266, .333, .40, .466, .533, 
                                     .60, .666, .733, .8, .866, .933])

    # create taxrate variable
    df['taxrate'] = df.tax_amount/df.tax_value*100

    # create acres variable
    df['acres'] = df.lot_sqft/43560

    # bin acres
    df['acres_bin'] = pd.cut(df.acres, bins = [0, .10, .15, .25, .5, 1, 5, 10, 20, 50, 200], 
                       labels = [0, .1, .2, .3, .4, .5, .6, .7, .8, .9])

    # square feet bin
    df['sqft_bin'] = pd.cut(df.calc_sqft, 
                            bins = [0, 800, 1000, 1250, 1500, 2000, 2500, 3000, 4000, 7000, 12000],
                            labels = [0, .1, .2, .3, .4, .5, .6, .7, .8, .9]
                       )

    # dollar per square foot-structure
    df['structure_dollar_per_sqft'] = df.structure_tax_value/df.calc_sqft


    df['structure_dollar_sqft_bin'] = pd.cut(df.structure_dollar_per_sqft, 
                                             bins = [0, 25, 50, 75, 100, 150, 200, 300, 500, 1000, 1500],
                                             labels = [0, .1, .2, .3, .4, .5, .6, .7, .8, .9]
                                            )


    # dollar per square foot-land
    df['land_dollar_per_sqft'] = df.land_value/df.lot_sqft

    df['lot_dollar_sqft_bin'] = pd.cut(df.land_dollar_per_sqft, bins = [0, 1, 5, 20, 50, 100, 250, 500, 1000, 1500, 2000],
                                       labels = [0, .1, .2, .3, .4, .5, .6, .7, .8, .9]
                                      )


    # update datatypes of binned values to be float
    df = df.astype({'sqft_bin': 'float64', 'acres_bin': 'float64', 'age_bin': 'float64',
                    'structure_dollar_sqft_bin': 'float64', 'lot_dollar_sqft_bin': 'float64'})


    # ratio of bathrooms to bedrooms
    df['bath_bed_ratio'] = df.bath_count/df.bed_count

    # 12447 is the ID for city of LA. 
    # I confirmed through sampling and plotting, as well as looking up a few addresses.
    df['cola'] = df['region_id_city'].apply(lambda x: 1 if x == 12447.0 else 0)

    return df

In [13]:
df = create_features(df)

In [14]:
df.head().T

,0,1,2,3,4
parcel_id,14297519,17052889,14186244,12177905,12095076
propertylandusetypeid,261.0,261.0,261.0,261.0,261.0
basement_sqft,0.0,0.0,0.0,0.0,0.0
bath_count,3.5,1.0,2.0,3.0,3.0
bed_count,4.0,2.0,3.0,4.0,4.0
calc_bath_and_bed,3.5,1.0,2.0,3.0,3.0
decktypeid,0.0,0.0,0.0,0.0,0.0
calc_sqft,3100.0,1465.0,1243.0,2376.0,2962.0
finished_sqft12,3100.0,1465.0,1243.0,2376.0,2962.0
fips,6059.0,6111.0,6059.0,6037.0,6037.0
fireplace_cnt,0.0,1.0,0.0,0.0,0.0
full_bath_cnt,3.0,1.0,2.0,3.0,3.0
has_hot_tub,0.0,0.0,0.0,0.0,0.0
latitude,33634931.0,34449266.0,33886168.0,34245180.0,34145202.0
longitude,-117869207.0,-119281531.0,-117823170.0,-118240722.0,-118179824.0
lot_sqft,4506.0,12647.0,8432.0,13038.0,63000.0
pool_count,0.0,0.0,1.0,1.0,1.0
pooltypeid10,0.0,0.0,0.0,0.0,0.0
pooltypeid2,0.0,0.0,0.0,0.0,0.0
pooltypeid7,0.0,0.0,1.0,1.0,1.0
property_county_use_code,122,1110,122,0101,0101
raw_census_tract_block,60590630.072012,61110010.023006,60590218.022012,60373001.001006,60374608.001014
region_id_city,53571.0,13091.0,21412.0,396551.0,47019.0
region_id_county,1286.0,2061.0,1286.0,3101.0,3101.0
region_id_zip,96978.0,97099.0,97078.0,96330.0,96293.0
room_count,0.0,5.0,6.0,0.0,0.0
three_quarter_bath,1.0,0.0,0.0,0.0,0.0
year_built,1998.0,1967.0,1962.0,1970.0,1950.0
fireplace_flag,0.0,0.0,0.0,0.0,0.0
structure_tax_value,485713.0,88000.0,85289.0,108918.0,276684.0
tax_value,1023282.0,464000.0,564778.0,145143.0,773303.0
assessment_year,2016.0,2016.0,2016.0,2016.0,2016.0
land_value,537569.0,376000.0,479489.0,36225.0,496619.0
tax_amount,11013.72,5672.48,6488.3,1777.51,9516.26
tax_delinquency_flag,N,N,N,N,N
tax_delinquency_year,99999.0,99999.0,99999.0,99999.0,99999.0
census_tract_and_block,60590630072012.0,61110010023006.0,60590218022012.0,60373001001006.0,60374608001014.0
log_error,0.025595,0.055619,0.005383,-0.10341,-0.001011
transaction_date,2017-01-01,2017-01-01,2017-01-01,2017-01-01,2017-01-01
type_construction_desc,None,None,None,None,None
property_land_use_desc,Single Family Residential,Single Family Residential,Single Family Residential,Single Family Residential,Single Family Residential
age,19.0,50.0,55.0,47.0,67.0
age_bin,0.133,0.333,0.4,0.333,0.466
taxrate,1.076313,1.222517,1.148823,1.224661,1.230599
acres,0.103444,0.290335,0.193572,0.299311,1.446281
acres_bin,0.1,0.3,0.2,0.3,0.5
sqft_bin,0.7,0.3,0.2,0.5,0.6
structure_dollar_per_sqft,156.681613,60.068259,68.615447,45.840909,93.411209
structure_dollar_sqft_bin,0.5,0.2,0.2,0.1,0.3
land_dollar_per_sqft,119.30071,29.730371,56.865394,2.778417,7.882841
lot_dollar_sqft_bin,0.5,0.3,0.4,0.1,0.2
bath_bed_ratio,0.875,0.5,0.666667,0.75,0.75
cola,0,0,0,0,0